{
  "extends": ["eslint-config-eq-author"],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "script"
  },
  "rules": {
    "camelcase": "off"
  }
}
