version: "3"

services:
  eq-schema-validator:
    image: onsdigital/eq-schema-validator
    ports:
      - 5000
    networks:
      - eq-author
    restart: always

  eq-author:
    image: "onsdigital/eq-author:${TAG:-latest}"
    environment:
      REACT_APP_API_URL: http://localhost:14000/graphql
      REACT_APP_FIREBASE_PROJECT_ID: "${REACT_APP_FIREBASE_PROJECT_ID}"
      REACT_APP_FIREBASE_API_KEY: "${REACT_APP_FIREBASE_API_KEY}"
      REACT_APP_FUNCTIONAL_TEST: "true"
    depends_on:
      - eq-author-api
    restart: always
    networks:
      - eq-author
    ports:
      - 13000:3000

  eq-author-api:
    image: "onsdigital/eq-author-api:${TAG:-latest}"
    environment:
      DATASTORE: filesystem
    restart: always
    networks:
      - eq-author
    ports:
      - 14000:4000

  eq-publisher:
    image: "onsdigital/eq-publisher:${TAG:-latest}"
    environment:
      EQ_AUTHOR_API_URL: http://eq-author-api:4000/graphql
      EQ_SCHEMA_VALIDATOR_URL: http://eq-schema-validator:5000/validate
    depends_on:
      - eq-author-api
      - eq-schema-validator
    restart: always
    networks:
      - eq-author
    ports:
      - 19000:9000

networks:
  eq-author:
    driver: bridge
